extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 #{name}

        p.lead.text-light
          | Software Development Student

        .portfolio-bio
          p
            | Hi there, I combine software development and digital marketing skills, I’m creative, analytical, and a problem solver.  
            | I make awesome websites using my front-end development skills in HTML, CSS, and JavaScript and web applications with Node.js, Express, and React!
            | I’m currently working on a post-degree diploma in programming to improve my back-end knowledge in C#, Java, PHP, and my data skills with SQL and Python.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Express 
          li Node.js
          li C#
          li Java
          li SQL
          li jQuery
          li Web Design - Figma
          li Data Visualiation
          li Problem Solving

        h6 Contact Info

        ul
          li 778-318-7442
          li mariadelmarvze@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/maria-vasqueze' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/mariavasqueze' target="_blank") GitHub
        //-a.button.expanded(href='#') Twitter

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  