extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      //- Add a title or heading like My Portfolio, or Hey, Potential Employers, or Let's make the web great together! 
      h1 Hi! I'm Maria! ...

      //- Add a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
      p.lead.text-light
        | Check out some of my projects in JS, Node.js, express, pug and ejs bellow: 
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //- Use the Pug `each` iterator to create a project img, title and link in the markup for each of the projects you are showcasing.  
      each project, i in json.projects
        .cell
          a(href='/project' + project["project_name"][i])
            img.thumbnail(src= project["image_urls"][i])
            h5= project["project_name"]
      //- }
      //- Use a combination of interpolation and template literals as needed to dynamically generate the the routes in the href, as well as the img's src and the projects title.
      
          //- each elem,i in jsonData
          //-   p !{elem.id}-!{elem.project_name}
      
